<!DOCTYPE html>
<html>
  <head>
    <title>Join Meet - EasyMeet</title>
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/index.css" rel="stylesheet" />
    <link href="/assets/computer.png" rel="icon" />
    <link href="/css/joinmeet.css" rel="stylesheet" />
  </head>
  <body>
    <% if (loggedIn) { %>
    <script src="/js/modal.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/recieveinvite.js"></script>
    <audio id="sound"><source src="/assets/invite_alert.mp3" /></audio>
    <script>
      const user = "<%= user %>";
    </script>
    <% } %>

    <nav class="navbar">
      <div class="navbar__container">
        <a href="/" class="navbar__brand">EasyMeet</a>
        <ul class="navbar__links">
          <% if (loggedIn) { %>
          <li><a href="/join">Join Meet</a></li>
          <li><a href="/help">Help</a></li>
          <li><a href="/logout">Logout</a></li>
          <% if (!isSignupPage()) { %>
          <li><a href="/signup">Sign Up</a></li>
          <% } %> <% } else { %>
          <li><a href="/help">Help</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/signup">Sign Up</a></li>
          <% } %>
        </ul>
      </div>
    </nav>

    <form action="/submitsettings" method="GET">
      <div class="form-group">
        <input type="checkbox" <% if(audioOff){ % />checked <% }
        %>name="audioOff" id="audioOff">
        <label for="audioOff">Turn off audio</label>
      </div>
      <div class="form-group">
        <input type="checkbox" <% if(videoOff){ % />checked <% }
        %>name="videoOff" id="videoOff">
        <label for="videoOff">Turn off video</label>
      </div>
      <div class="form-group">
        <input type="submit" value="OK" class="settings-button" />
      </div>
    </form>
    <h2>Join Meet</h2>
    <input id="room" placeholder="Type room here" class="room-input" />
    <br /><br />
    <button onclick="chooseRoom()" class="join-button">Enter room</button>
    <br /><br />
    <button onclick="location.href = '/meet/main'" class="join-button">
      Join main meet
    </button>
    <br /><br />
    <button onclick="invite()" class="invite-button">Invite someone</button>
    <script>
      document.getElementById("room").addEventListener("keydown", (e) => {
        if (e.key == "Enter") chooseRoom();
      });

      function chooseRoom() {
        var name = document.getElementById("room").value;
        location.href = "/meet/" + name;
      }

      function invite() {
        promptmodal("Invite someone", "Enter the name of the room first:").then(
          (room) => {
            promptmodal(
              "Invite someone",
              "Enter the user you want to invite:"
            ).then((username) => {
              socket.emit("new invitation", {
                to: username,
                from: user,
                room: room,
              });
              alertmodal(
                "Invite someone",
                `You have invited ${username} to the room <span style="color:blue">${room}</span>!`
              ).then(() => (location.href = "/meet/" + room));
            });
          }
        );
      }
    </script>
  </body>
</html>
