<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up - EasyMeet</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/signup.css" rel="stylesheet" />
    <link href="/assets/computer.png" rel="icon" />
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>
  <body>
    <%- include("nav.html") %>
    <div class="signup-container">
      <h1>Sign Up</h1>
      <form action="/createaccount" method="post">
        <div class="form-group">
          <label for="newusername">Username:</label>
          <input type="text" id="newusername" name="newusername" required />
        </div>
        <div class="form-group">
          <label for="newpassword">Password:</label>
          <input type="password" id="newpassword" name="newpassword" required />
        </div>
        <div class="recaptcha-container">
          <div
            class="g-recaptcha"
            data-sitekey="6Ld9YjEnAAAAANu2PBQmGNGI_rsU58KdYJtYbUp3"
          ></div>
        </div>
        <button type="submit" class="signup-button">Sign Up</button>
      </form>
      <p>Already have an account? <a href="/login">Login</a></p>
    </div>
  </body>
</html>
