body {
  text-align: center;
  font-family: Roboto, sans-serif;
  color: #333;
  margin: 0;
  background-color: #f1f1f1;
}

h2 {
  font-size: 28px;
  margin-top: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-size: 18px;
  display: block;
  margin-bottom: 5px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.room-input {
  font-size: 20px;
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.join-button {
  width: 150px;
  padding: 10px;
  font-size: 18px;
  background-color: #727acd;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.join-button:hover {
  background-color: #5e6ebe;
}

.invite-button {
  width: 150px;
  padding: 10px;
  font-size: 18px;
  background-color: #50aa50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.invite-button:hover {
  background-color: #409040;
}
